<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>538109518725-8r2rfrdtijhp4t7866dutn5d6tth8aa4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.538109518725-8r2rfrdtijhp4t7866dutn5d6tth8aa4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>538109518725-jrtba6o7kupu062ed15j9h0nev9kppdi.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAE2ktYvoAobfm6yvfLZu3srVGJ7wN5-UU</string>
	<key>GCM_SENDER_ID</key>
	<string>538109518725</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sienapaMovil.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>sienapa-734e9</string>
	<key>STORAGE_BUCKET</key>
	<string>sienapa-734e9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:538109518725:ios:34a72f2d6ff5a719ed5aec</string>
	<key>DATABASE_URL</key>
	<string>https://sienapa-734e9-default-rtdb.firebaseio.com</string>
</dict>
</plist>